# Frontend application files
# ==========================
build/
node_modules/

# General
# =======
*.bak
*.dat
*.gz
*.log
*.out
*.pid
*.swp
*.tmp
*.txt

# OS
# ==
.DS_Store
ehthumbs.db
Thumbs.db

# Visual Studio Code
# ==================
.vscode/*
