.landing {
  margin-top: 80px;
}
.logo {
  width: 280px;
}
.btnLand {
  width: 280px;
  height: 48px;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  text-transform: lowercase;
  border: none;
  border-radius: 5px;
  background-color: black;
}
.landing p {
  font-size: 14px;
}
